<style>
				.done{
					background-color: #e4f4e9;
				}
			</style>
<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Type</th>
						<th>Done?</th>
					</tr>
				</thead>
				<tbody>
					<tr class="done">
						<td>Clean code</td>
						<td>Remove clutter from ..</td>
						<td>2012-01-01</td>
						<td>2012-01-05</td>
						<td>To-Do</td>
						<td>Yes</td>
					</tr>
					<tr class="done">
						<td>Clean code</td>
						<td>Remove clutter from ..</td>
						<td>2012-01-01</td>
						<td>2012-01-05</td>
						<td>To-Do</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Clean code</td>
						<td>Remove clutter from ..</td>
						<td>2012-01-01</td>
						<td>2012-01-05</td>
						<td>To-Do</td>
						<td>Yes</td>
					</tr>
					<tr class="done">
						<td>Clean code</td>
						<td>Remove clutter from ..</td>
						<td>2012-01-01</td>
						<td>2012-01-05</td>
						<td>To-Do</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Clean code</td>
						<td>Remove clutter from ..</td>
						<td>2012-01-01</td>
						<td>2012-01-05</td>
						<td>To-Do</td>
						<td>Yes</td>
					</tr>
				</tbody>
			</table>