<div class="row">
<div class="span16">
<h2>About</h2>
<h3>The project</h3>
<p>This web application was made as a 4-week assignment in a part of the course "Webbramverk" ("Web frameworks").</p>
<p>The application is developed in the open source web framework Ruby on Rails running with (currently) a SQlite3 database for data storage</p>
<p>Thanks to Twitter Bootstrap for some CSS help and <a href="http://larssonpatrik.com" title="Patrik Larssons Website">Patrik Larsson</a> for graphical inspiration!</p>
 

<h3>About me</h3>
<p>Howdy! The name is Hans Bentlöv. I'm studying web development at Linneaus University in Kalmar, Sweden. You can stay in touch with me via <a href="#">mail</a>, <a href="#">Twitter</a> or <a href="#">LinkedIn</a></p>
</div>
</div>