<h1>Created project</h1>
<p>Your project was successfully created:</p>


<h2><%= @project.name %></h2>
<p><%= @project.description %></p>
<p>Start Date: <%= @project.start_date %></p>
<p>End Date: <%= @project.end_date %></p>